*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1500px;
  font-family: "Open Sans", serif;
  font-size: 22px;
  font-weight: 400;
  background-color: #dedcdf;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  
}
a{
  text-decoration: none;
}